@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.error {
    color: red;
    display: none;
    text-align: start;
    padding-left: 10px;
  }
.form-con {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
}

.highlight {
  color: transparent;
  animation: text 0.005s linear 1 forwards;
}
/* var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; */

@keyframes text {
  100% {
    color: #fff;
  }
}
.form-con::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 300vw;
  background-color: rgb(7, 7, 85);
  border-bottom-right-radius: max(50vw, 50vh);
  border-top-left-radius: max(50vw, 50vh);
  transform: translate(35%, 0);
  animation: transe 1s ease-in-out 1 forwards;
  font-size: 50px;
}

.welcome-text {
  width: 40%;
  font-size: 70px;
  position: absolute;
  left: 5%;
  top: 25%;
  font-weight: 900;
  color: #ffffff;
}

.form-con.forget::before {
  background-color: #388e3c;
}

@keyframes transe {
  100% {
    transform: translate(0, 0);
    right: 50%;
  }
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
  box-shadow: 10px 10px 20px rgb(229, 228, 228), -10px -10px 20px rgb(229, 228, 228);
  transform: scale(0);
  animation: scale 0.4s ease-in-out 1s 1 forwards;
  text-align: center;
  margin-right: 10%; 
  
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}
input {
  width: 400px;
  padding: 1rem 1rem;
  font-size: 1rem;
  background-color: rgb(223, 223, 228);
  border-radius: 0.5rem;
  border: 0.125rem solid #fff;
  outline: none;
}

input, button {
  filter: blur(5px);
  animation: input 0.2s ease-in-out 1.4s 1 forwards;
}

@keyframes input {
  100% {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
    transform: translateY(0px);
  }
}
input:focus {
  border: 0.125rem solid rgb(7, 7, 85);
}

form button {
  cursor: pointer;
  width: 100%;
  padding: 0.6rem 0;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(7, 7, 85);
  color: #fff;
  font-size: 1.2rem;
  outline: none;
  animation: input 0.4s ease-in-out 1.4s 1 forwards;
}

form a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.signUp-text {
  color: gray;
}

.verify {
  background-color: #388e3c;
}

.g-recaptcha {
  width: 400px;
  padding: 0 3rem;
}

@media (max-width: 1100px) {
  form {
    margin-right: 20px;
  }
}
@media (max-width: 950px) {
  input {
    width: 100%;
  }
  form {
    width: 45%;
  }
  .welcome-text {
    font-size: 50px;
  }
}
@media (max-width: 700px) {
  .form-con {
    justify-content: center;
  }
  .form-con::before {
    height: 300vh;
    width: 100vw;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    transform: translate(0, 0);
    top: 0;
  }
  @keyframes transe {
    100% {
      width: 100vw;
      height: 70vh;
      border-top-left-radius: 0;
      border-bottom-left-radius: max(70vw, 70vh);
    }
  }
  .welcome-text {
    width: 70%;
    font-size: 30px;
    left: 20vw;
    top: 20vh;
  }
  form {
    margin: 0;
    width: 90%;
    box-shadow: 0 3px 3px rgb(229, 228, 228), -3px 0 3px rgb(229, 228, 228);
  }
  input {
    width: 100%;
  }
}
@media (max-height: 700px) {
  .welcome-text {
    width: 70%;
    font-size: 28px;
    left: 20vw;
    top: 3vh;
  }
}/*# sourceMappingURL=login.css.map */